[user]
	name = Christopher Fonnesbeck
	email = chris.fonnesbeck@vanderbilt.edu
    
[color]
	ui = auto

[core]
	excludesfile = /Users/fonnescj/.gitignore_global
	editor = subl -w

[alias]
    co = checkout
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short


[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
