[user]
	name = Chris Fonnesbeck
	email = chris.fonnesbeck@vanderbilt.edu
    
[color]
	ui = auto

[core]
	editor = mate -w

[alias]
    co = checkout
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short


